.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .layout__main {
    display: flex;
    flex: 1;
  }
  
  .layout__content {
    flex: 1;
    padding: 2rem;
    overflow-y: auto;
  }
  